@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.container{
   min-height: 100vh;
   background-color: #eee;
   display: flex;
   flex-direction: column;
   font-size: 18px;
   justify-content: center;
}
.header{
   font-family: 'bebas neue',sans-serif;
   letter-spacing: 2px;
   background-color: #1201af;
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
   align-items: center;
   color: #000;
   width: 100%;
}
.icone{
   width: 70px;
   height: 70px;
   cursor: pointer;
}
.btns-top{
   display: flex;
   gap:  10px;
}
.btn{
   background-color: transparent;
   border: 2px solid transparent;
   padding: 10px;
   font-size: 18px;
   font-family: 'roboto',sans-serif;
}
.btn:hover{
   border-bottom: 2px solid #fff;
   transition: 0.5s;
   cursor: pointer;
}
.content{
   display: grid;
   grid-template-columns: 1fr 3fr;
   grid-template-areas: 'item1 item2';
   padding: 20px;
   gap: 25px;
}
.brand-phrase{
   text-align: center;
   font-family: 'bebas neue',sans-serif;
   font-size: 18px;
   padding: 10px;
   letter-spacing: 1px;
}
.brand-phrase p{
   font-size: 20px;
}
.main-content{
   grid-area: item2;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   flex: 1 0 auto;
}
.itens{
   width: 300px;
   height: 400px;
   cursor: pointer;
   border-radius: 17px;
   border: 2px solid transparent;
}
.itens:hover{
   transition: 0.5s;
   border-radius: 17px;
   border: 2px solid #212121;
}
.main-img{
   width: 100%;
   height: 230px;
   border-radius: 15px;
}
/* Aside */
.aside{
   grid-area: item1;
   background-color: #1201af;
   padding: 20px;
   text-align: center;
   font-family: 'bebas neue',sans-serif;
   font-size: 25px;
   letter-spacing: 1px;
   cursor: pointer;
   max-height: 1300px;
}
.aside-img{
   width: 100%;
   height: 230px;
   border-radius: 15px;
}
.itens-aside{
   border-radius: 17px;
   border: 2px solid transparent;
   margin: 5px;
   padding-bottom: 10px;
}
.itens-aside:hover{
   transition: 0.5s;
   border-radius: 17px;
   border: 2px solid #212121;
}
.itens h3{
   border-left: 5px solid  #1201af;
   padding-left: 5px;
   font-family: 'bebas neue',sans-serif;
   letter-spacing: 1px;
   font-size: 22px;
}
.itens p{
   font-family: 'roboto',sans-serif;
}
.footer{
   font-family: 'bebas neue',sans-serif;
   letter-spacing: 2px;
   background-color: #1201af;
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
   align-items: center;
   color: #000;
   width: 100%;
}
.footer a{
   text-decoration: none;
   color: #212121;
   font-size: 25px;
}
#especificExtraInformation{
   display: flex;
   flex: 1 0 auto;
   width: 100%;
   justify-content: center;
   padding: 15px;
   gap: 40px;
}
#extraInformationItem{
   display: flex;
   flex-direction: column;
   width: 300px;
   gap: 10px;
}
.informations-photo{
   width: 300px;
   height: 250px;
}
#extraInformationItem h3{
   border-left: 5px solid  #1201af;
   padding-left: 5px;
   font-family: 'bebas neue',sans-serif;
   letter-spacing: 1px;
   font-size: 22px;
}
#extraInformationItem p{
   font-family: 'roboto',sans-serif;
   word-wrap: break-word;
}
#curiositiesItem{
   display: flex;
   font-family: 'roboto',sans-serif;
   flex-direction: column;
   width: 300px;
}
#curiositiesItem h3{
   font-family: 'bebas neue',sans-serif;
   letter-spacing: 1px;
   font-size: 25px;
   padding-left: 15px;
}